<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.common.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.common.entity.User">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="created_time" property="createdTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, created_time, update_time
    </sql>

    <select id="selectCustome" resultType="java.lang.String">
        select name
        from user
        where id = 1
    </select>
</mapper>
